{% extends '_base.html' %}
<h1>This page can only be accessed by logged-in users.</h1>

{% block content %}

    <a href="{% url 'home' %}">Back to Homepage</a>


    {% for post in object_list %}
        <p class="post__title">{{ post.title }}</p>
        <p>By {{ post.author }}</p>
        <p>Published {{ post.published_date }}</p>
        <p>{{ post.text|slice:":200" }}</p>
        <a href="{% url 'posts:post_detail' post.slug %}">Read More</a>
        <hr>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}

{% endblock %}
