{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>This is simple home page</h1>
    <div class="home-page">
        {% if user.is_authenticated %}
            Welcome, {{ user.email }}!
            <p>
                <a href="{% url 'logout' %}">Log Out</a>
            </p>

            <p>
                <a href="{% url 'posts:post_new' %}" class="top-menu">Add new post</a>
            </p>

        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In</a> |
            <a href="{% url 'users:signup' %}">Sign Up</a>
        {% endif %}
    </div>

    <hr>
    <p>
        <a href="{% url 'posts:post_list' %}">See list of posts!</a>
    </p>

{% endblock %}