body {
  background-color: silver;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  margin: 20px;
}

h2, p, a, button {
  margin: 10px;
}

a:hover {
  text-decoration-color: blueviolet;
  font-weight: bolder;
}


a:visited {
  color: indianred;
}
