body {
  background-color: navajowhite;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  margin: 20px;
}

h2, p, a, button {
  margin: 10px;
}

a:visited {
  color: darkgoldenrod;
}

p {
  font-weight: 600;
  color: mediumslateblue;
}